<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/seeker/homepage.css"/>
</head>

<body>
    <!-- Title Bar -->
    <div class="fluid-container">
        <h1>
            U of A Room Seeker
        </h1>
    </div>

    <!-- Personal Info -->
    <div class="fluid-container">
        <div class="row">
            <div class="col-sm-8">
                <h4>Made with love by Noah Gergel, Weilin Qiu, Sichun Xu, and Nina Yang</h4>
            </div>
            <div class="col-sm-4">
                <h4>
                    <a href="https://github.com/nyg1/UAroomseeker">Link to our repository</a>
                </h4>
            </div>
        </div>
    </div>

    <!-- About this project -->
    <div class="fluid-container">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Quam viverra orci sagittis eu volutpat 
                odio facilisis. Sed egestas egestas fringilla phasellus. Blandit volutpat maecenas 
                volutpat blandit. Tempor orci eu lobortis elementum nibh. Quam id leo in vitae turpis 
                massa sed elementum. Tortor aliquam nulla facilisi cras fermentum. Massa vitae tortor 
                condimentum lacinia. Tristique risus nec feugiat in. Quam quisque id diam vel quam elementum 
                pulvinar etiam non. Adipiscing elit pellentesque habitant morbi tristique senectus. Ac tortor 
                dignissim convallis aenean et tortor at risus viverra.
            </p>
        </div>
    </div>
    <hr>

    <!-- Input -->
    <div class="fluid-container">
        <div class="row">
            <!-- The time selection -->
        </div>
    </div>

</body>